@charset "utf-8";
@import "fonts";
@import "global";
@import "typography";
@import "range";

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


p {
  margin: $spacing 0;
}

p + p {
  margin-top: 0;
}

a {
  color: $color-text-highlight;
  text-decoration: none;

  &:hover, &:focus {
    color: darken($color-text-highlight, 10%);
  }
}

input {
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  zoom: 1;
  border: 0;

  &:focus {
    outline: none;
  }
}

img {
  max-width: 100%;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  max-width: $max-width-extended;
  font-size: 0.75em;
  width: 100%;

  @include media-query($device-narrow) {
    font-size: 0.9em;
  }

  thead {
    * {
      font-weight: 600;
    }

    th {
      border-bottom: 1px solid $color-gray;
      text-align: left;
      padding: 0 0.25rem 0.25rem 0.25rem;
      hyphens: none;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: $spacing / 2;
      }
    }
  }

  tbody {
    tr td {
      border-bottom: 1px solid $color-gray;
      padding: 0.25rem;

      &:first-child {
        padding-left: 0;
        white-space: nowrap;
      }
      &:nth-child(2) {
        white-space: nowrap;
      }
      &:last-child {
        padding-right: $spacing / 2;
      }
    }

    tr:last-child td {
      border: 0;
      padding-bottom: 0rem;
    }
  }
}

.root {
  padding: $spacing * 3 $spacing / 2 $spacing / 2 $spacing / 2;


  @include media-query($device-wide) {
    padding: $spacing * 2 $spacing / 2 $spacing / 2 $spacing / 2;
  }

  @include print {
    padding: 0;
  }
}

.wrapper {
  width: 100%;
  // margin: $spacing;
  max-width: $max-width;
  margin-top: 0;
  @include flex-column();

  @include print {
    display: block;
    max-width: none;
    padding: 1rem;
  }

  .center {
    align-self: center;
  }

  .default {
    width: calc(100vw - #{$spacing});
    max-width: $max-width;
  }
  .no-margin {
    width: 100vw;
    max-width: calc(#{$spacing} + #{$max-width});
    align-self: center;
  }
  .extended {
    width: calc(100vw - #{$spacing});
    max-width: $max-width-extended;
    align-self: center;

    &.no-margin {
      width: 100vw;

      @include print {
        width: 100%;
        max-width: none;
      }
    }
  }

  // &.index {
  //   overflow: visible;
  // }

  @include media-query($device-wide) {
    transform: translateX($spacing);
    // width: calc(100vw - #{$nav-width-laptop});
    // left: $nav-width-laptop;
    // align-self: flex-end;
  }
}

.hide-print {
  @include print {
    display: none !important;
  }
}

.print-only {
  display: none;

  @include print {
    display: block !important;
  }
}

// h1, h2, h3 {
//   hyphens: none;
//   max-width: 760px;
//   width: 100%;
// }
//
// h1 {
//   font-size: 1rem;
//   letter-spacing: 0.05em;
//   font-weight: bold;
// }
//
// h2 {
//   font-size: 1.8rem;
//   font-weight: bold;
//   line-height: 1.25;
//   margin: 0 0 #{$spacing * 1};
//   color: $color-text-highlight;
//   letter-spacing: 0.4px;
//
//   @include media-query($device-narrow) {
//     font-size: 3rem;
//   }
// }
//
// h3 {
//   font-size: 1.4rem;
//   font-weight: 600;
//   line-height: 1.2;
//   margin: 0;
//
//   @include media-query($device-narrow) {
//     font-size: 1.8rem;
//   }
// }
//
// p {
//   margin: 2rem 0;
//   max-width: 760px;
//   font-family: $font-serif;
//
//   strong {
//     color: darken($color-text-highlight, 20%);
//     font-family: $font-sans;
//   }
//
//
//
//   &:first-of-type {
//     margin-top: 0;
//   }
//
//   &:last-of-type {
//     margin-bottom: 0;
//   }
// }
//
// p + p {
//   c -1rem;
// }


.page-enter-active, .page-leave-active {
  transition: opacity .3s, transform .3s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

.page-enter {
  transform: translateY(5vw);
  @include media-query($device-wide) {
    transform: translate($spacing, 5vw);
  }
}

.page-leave-to {
  transform: translateY(-5vw);
  @include media-query($device-wide) {
    transform: translate($spacing, -5vw);
  }
}

.fade-enter-active, .fade-leave-active, .fade-delayed-leave-active {
  transition: opacity $transition-time;
}

.fade-delayed-enter-active {
  transition: opacity $transition-time $transition-time / 2;
}

.fade-enter, .fade-leave-to, .fade-delayed-enter, .fade-delayed-leave-to {
  opacity: 0 !important;
}
