@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local('IBM Plex Sans Bold'),
    local('IBMPlexSans-Bold'),
    url('~@/assets/fonts/IBMPlexSans-Bold.woff2') format('woff2'),
    url('~@/assets/fonts/IBMPlexSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'),
    local('IBMPlexSans'),
    url('~@/assets/fonts/IBMPlexSans-Regular.woff2') format('woff2'),
    url('~@/assets/fonts/IBMPlexSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Mono'),
    local('IBMPlexMono'),
    url('~@/assets/fonts/IBMPlexMono-Regular.woff2') format('woff2'),
    url('~@/assets/fonts/IBMPlexMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Serif'),
    local('IBMPlexSerif'),
    url('~@/assets/fonts/IBMPlexSerif-Regular.woff2') format('woff2'),
    url('~@/assets/fonts/IBMPlexSerif-Regular.woff') format('woff');
}
