@mixin media-query ($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin print() {
  @media print {
    @content;
  }
}

@mixin ie() {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}


@mixin gradient() {
  background-image: linear-gradient(135deg, lighten($color-violet, 15%) 0%, $color-violet 100%);
}

@mixin underline ($color) {
  background: linear-gradient(to top, transparent, transparent 0em, $color 0em, $color 0.1em, transparent 0);
}

@mixin underline-active ($color) {
  background: lighten($color, 30) linear-gradient(to top, transparent, transparent 0em, $color 0em, $color 0.1em, transparent 0);;
}

@mixin transparent-gradient ($color, $direction) {
  background-image: linear-gradient(to $direction, transparentize($color, 1) 0%, transparentize($color, 0) 100%);
}

@mixin font-feature-settings ($value) {
  -webkit-font-feature-settings: $value;
  -moz-font-feature-settings: $value;
  -o-font-feature-settings: $value;
  font-feature-settings: $value;
}

@mixin flex-row () {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-column () {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin light-text () {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin underline($color) {
  background: transparentize($color, 0.8) linear-gradient(to top, transparent, transparent 0em, $color 0em, $color 0.1em, transparent 0);
}

@mixin underline-active($color) {
  background: transparentize($color, 0.6) linear-gradient(to top, transparent, transparent 0em, $color 0em, $color 0.1em, transparent 0);;
}
