@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local('IBM Plex Sans Bold'),
    local('IBMPlexSans-Bold'),
    url('~/assets/fonts/IBMPlexSans-Bold.woff2') format('woff2'),
    url('~/assets/fonts/IBMPlexSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'),
    local('IBMPlexSans'),
    url('~/assets/fonts/IBMPlexSans-Regular.woff2') format('woff2'),
    url('~/assets/fonts/IBMPlexSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  src: local('IBM Plex Sans Bold Italic'),
    local('IBMPlexSans-BoldItalic'),
    url('~/assets/fonts/IBMPlexSans-BoldItalic.woff2') format('woff2'),
    url('~/assets/fonts/IBMPlexSans-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: local('IBM Plex Sans Italic'),s
    local('IBMPlexSans-Italic'),
    url('~/assets/fonts/IBMPlexSans-Italic.woff2') format('woff2'),
    url('~/assets/fonts/IBMPlexSans-Italic.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: local('IBM Plex Mono Bold'),
    local('IBMPlexMono-Bold'),
    url('~/assets/fonts/IBMPlexMono-Bold.woff2') format('woff2'),
    url('~/assets/fonts/IBMPlexMono-Bold.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Mono'),
    local('IBMPlexMono'),
    url('~/assets/fonts/IBMPlexMono-Regular.woff2') format('woff2'),
    url('~/assets/fonts/IBMPlexMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 700;
  src: local('IBM Plex Mono Bold Italic'),
    local('IBMPlexMono-BoldItalic'),
    url('~/assets/fonts/IBMPlexMono-BoldItalic.woff2') format('woff2'),
    url('~/assets/fonts/IBMPlexMono-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: local('IBM Plex Mono Italic'),
    local('IBMPlexMono-Italic'),
    url('~/assets/fonts/IBMPlexMono-Italic.woff2') format('woff2'),
    url('~/assets/fonts/IBMPlexMono-Italic.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 700;
  src: local('IBM Plex Serif Bold'),
    local('IBMPlexSerif-Bold'),
    url('~/assets/fonts/IBMPlexSerif-Bold.woff2') format('woff2'),
    url('~/assets/fonts/IBMPlexSerif-Bold.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Serif'),
    local('IBMPlexSerif'),
    url('~/assets/fonts/IBMPlexSerif-Regular.woff2') format('woff2'),
    url('~/assets/fonts/IBMPlexSerif-Regular.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 700;
  src: local('IBM Plex Serif Bold Italic'),
    local('IBMPlexSerif-BoldItalic'),
    url('~/assets/fonts/IBMPlexSerif-BoldItalic.woff2') format('woff2'),
    url('~/assets/fonts/IBMPlexSerif-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 400;
  src: local('IBM Plex Serif Italic'),
    local('IBMPlexSerif-Italic'),
    url('~/assets/fonts/IBMPlexSerif-Italic.woff2') format('woff2'),
    url('~/assets/fonts/IBMPlexSerif-Italic.woff') format('woff');
}
