// $color-violet: #8665C7;
// $color-yellow: #FEAE00;
// $color-green: #39C88A;
// $color-red: #B7005E;
// $color-blue: #1BA3D0;
$color-light-violet: getColor(violet, 80);

$color-accent: $color-neon;
// $color-violet: $color-accent;
// $color-black: #222;
// $color-white: #FFF;
// $color-pale-gray: #F3F3F3;
// $color-light-gray: #DDD;
// $color-gray: #BBB;
// $color-dark-gray: #888;
// $color-deep-gray: #555;

$color-text: $color-black;
$color-text-highlight: $color-accent;

// $font-sans: "IBM Plex Sans", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", Helvetica, sans-serif;
// $font-mono: "IBM Plex Mono", monospace;
// $font-serif: "IBM Plex Serif", "Georgia", serif;

// $spacing: 1.6rem;
$max-width: calc(768px + #{$spacing});
$max-width-extended: calc(#{$max-width} + #{$spacing * 4});

$device-narrow: $narrow;
$device-medium: $medium;
$device-wide: $wide;

$transition-time: $transition;
