$color-violet: #8665C7;
$color-yellow: #FEAE00;
$color-green: #39C88A;
$color-red: #B7005E;
$color-blue: #1BA3D0;

$color-black: #222;
$color-white: #FFF;
$color-pale-gray: #F3F3F3;
$color-light-gray: #DDD;
$color-gray: #BBB;

$color-text: $color-black;
$color-text-highlight: $color-violet;

$font-sans: "IBM Plex Sans", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", Helvetica, sans-serif;
$font-mono: "IBM Plex Mono", monospace;
$font-serif: "IBM Plex Serif", "Georgia", serif;

$spacing-unit: 2rem;
$max-width: 920px;

$on-palm: 600px;
$on-laptop: 800px;
